<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/planner/resources/css/comm/common.css">
    <link rel="stylesheet" type="text/css" href="/planner/resources/css/comm/main.css">
    <link rel="stylesheet" type="text/css" href="/planner/resources/css/join/join.css">
    <link rel="stylesheet" type="text/css" href="/planner/resources/css/comm/dialog.css">
    <link rel="stylesheet" type="text/css" href="/planner/resources/css/plan/list.css">
    <script src="/planner/resources/js/plan/list.js"></script> -->
</head>
<body>
    <!-- 사이드바 -->
    <aside id="my-info" class="side-bar hide">
        <div class="info-box">
            <div class="info-main-box">
                <div class="center-aligned rounded">
                    <span id="my-type">직원</span>
                </div>
                <ul class="info-main-txt">
                    <li id="my-name" class="bold-txt">
                        <span id="my-sur-name"></span>
                        <span id="my-real-name"></span>
                    </li>
                    <li id="my-email" class="gray-txt"></span>
                </ul>
            </div>
            <div class="info-sub-box">
                <div class="center-aligned i-bg-circle">
                    <i class="fa-solid fa-mobile-screen fontsize-20"></i>
                </div>
                <span id="my-tel" class="info-sub-txt"></span>
            </div>
            <div class="info-sub-box">
                <div class="center-aligned i-bg-circle">
                    <i class="fa-solid fa-cake-candles fontsize-20"></i>
                </div>
                <span id="my-b-day" class="info-sub-txt"></span>
            </div>
        </div>
        <div class="info-box">
            <h2 class="list-title-wrapper">
                <span>
                    <i class="fa-regular fa-rectangle-list fontsize-22"></i>
                </span>
                <span class="list-title"></span>
            </h2>
            <div>
                <ul>
                    <li class="list-wrapper">
                        <div class="center-aligned rounded small-rounded">
                            <span id="my-type"></span>
                        </div>
                        <div class="info-main-txt">
                            <div id="my-name" class="bold-txt fontsize-19">
                                <span id="my-sur-name" class="">김</span>
                                <span id="my-real-name" class="">ddd</span>
                            </div>
                            <span id="my-email" class="gray-txt fontsize-15">blah@email.com</span>
                        </div>
                    </li>
                    <li class="list-wrapper">
                        <div class="center-aligned rounded small-rounded">
                            <span id="my-type">직원</span>
                        </div>
                        <div class="info-main-txt">
                            <div id="my-name" class="bold-txt fontsize-19">
                                <span id="my-sur-name" class="">김</span>
                                <span id="my-real-name" class="">ddd</span>
                            </div>
                            <span id="my-email" class="gray-txt fontsize-15">blah@email.com</span>
                        </div>
                    </li>
                    <li class="list-wrapper">
                        <div class="center-aligned rounded small-rounded">
                            <span id="my-type">직원</span>
                        </div>
                        <div class="info-main-txt">
                            <div id="my-name" class="bold-txt fontsize-19">
                                <span id="my-sur-name" class="">김</span>
                                <span id="my-real-name" class="">ddd</span>
                            </div>
                            <span id="my-email" class="gray-txt fontsize-15">blah@email.com</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div id="logout" class="logout">
            <span class="fontsize-22">
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </span>
            <span>로그아웃</span>
        </div>
    </aside>
    <!-- //사이드바 -->
</body>