/* Noto Sans KR */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* 프리텐다드 Variable */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
    
/* Alfa Slab One */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

/* 반응형 */
@media screen and (max-width: 700px) {

    .try-join {
        display: none!important;
    }

    .banner {
        display: none;
    }

    .content {
        margin-right: 0!important;
    }

    .content-wrapper {
        flex-basis: 26.375rem!important;
    }

    .find-user-info {
        width: 42%!important;
    }
}

@media screen and (min-width: 700px) and (max-width: 1200px) {

    .banner {
        display: none;
    }

    .content {
        margin-right: 0!important;
    }

}

:root {
    --main-bg-color: #fff;
    --main-txt-color: #100C25;

    --box-border: 1px solid #D5D6DD;

    /* GRAY */
    --light-gray-color: #F3F4F6;
    /* --light-gray-color: #F3F4F6;
    --light-gray-color: #F3F4F6; */
    --gray-txt-color: #6D6D78;

    /* BLUE */
    --light-blue-color: #71a7c6;
    --dark-blue-color: #446375;
    --bright-blue-color: #0475E9;

    /* RED */
    --light-red-color: #f77878;
    --red-color: #ff0000;

    --info-icon-bg-color: #E4F0F6;
    --info-icon-color: #1B3D51;
}


* {
    box-sizing: border-box;
    color: inherit;
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif, "FontAwesome";
}



/****************************************************/
/********************* 스크롤바 *********************/
/****************************************************/
/* Firefox */
body {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
}

/* Chrome, Edge */
::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 10px;
    background-color: #6C6C6C;
}

.plan-box-wrapper::-webkit-scrollbar-track {
    width: 10px;
    background-color: transparent;
}

.plan-box-wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

.plan-box-wrapper::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    background-color: #6C6C6C;
}

::-webkit-scrollbar-track {
    width: 10px;
    background-color: transparent;
}



/****************************************************/
/************** 기본 태그 스타일 무효화 **************/
/****************************************************/
button {
    padding: 0;
    border: 0;
    background: transparent;
}

input[type="button"], input[type="submit"], input[type="reset"] {
    /* background: transparent; */
    border: 0;
}

input:focus {
    outline: none;
}

a {
    text-decoration: none;
    height: fit-content;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

form {
    margin: 0;
}



/****************************************************/
/******************** ALIGNMENT *********************/
/****************************************************/
.center-aligned {
    display: flex;
    justify-content: center;
    align-items: center;
}

.stretched-aligned {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table-aligned {
    width: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
    align-content: stretch;
}

.right {
    margin-left: auto
}

.left {
    margin-left: 0!important;
}

/****************************************************/
/******************** SELECT-BOX ********************/
/****************************************************/
.select {
    width: 102px;
    border: var(--box-border);
}

.select.active {
    box-shadow: 0px 2px 5px 2px #f5f5f5;
}

.selected {
    height: 40px;
}

.box-padding {
    padding: 8px 10px;
}

.selected-value, .option {
    white-space: nowrap;        /* 줄바꿈 안 함 */
    overflow: hidden;   
    text-overflow: ellipsis;    /* 말줄임 적용 */
}

/* 화살표 */
.selected-value::after {
    content: "\f107";
    font-size: 20px;
    vertical-align: middle;
    margin-left: 34px;
}

/* 옵션 목록 */
.option-wrapper {
    position: absolute;
    width: inherit;

    background-color: #fff;
    border: 1px solid #D5D6DD;
    margin: 0 0 0 -1px;
}

.option:hover {
    background-color: rgba(219, 234, 255, .5);
}



/****************************************************/
/********************** TEXT ************************/
/****************************************************/
.normal-txt {
    font-weight: 600;
}

.bold-txt {
    font-size: 24px;
    font-weight: 800;
}

.gray-txt {
    color: var(--gray-txt-color);
    font-size: 16px;
}



/****************************************************/
/********************* BUTTONS **********************/
/****************************************************/

.light-blue-icon {
    color: var(--light-blue-color);
}

.light-red-icon {
    color: var(--light-red-color);
}


.font-medium {
    font-weight: 600;
}


/****************************************************/
/******************* VALIDATION *********************/
/****************************************************/

.chk-group, .pass-group {
    display: flex;
    align-items: center;
    margin: 1px 0;
}

.valid-span {
    position: absolute;
    flex: none;
    width: 0;
}

.valid {
    position: relative;
    top: 38px;
    right: -520px;

    /* position: unset;
    margin-top: -38px;
    margin-left: 522px; */

    flex: none;
    width: fit-content;
    font-size: 19px;
    color: #4088EB;
    z-index: 3;
}

.birth .valid {
    top: 20px;
}

.valid.right {
    right: -390px!important
}

.pass-group {
    height: 13px;
    /* margin-top: 18px */
}

.pass {
    font-size: 13px;
    font-weight: 600;
    color: #00891a!important;
}
