.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translate(-50%, -50%);
    transition: opacity 0.5s linear 0.3s;
    will-change: opacity;
}

.modal-box {
    position: relative;
    max-width: 40rem;
    width: 535px;
    height: 220px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 15px;
}

.modal-content {
    padding: 2em 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 18px;
}

.success-window .modal-content, 
.failure-window .modal-content {
    flex-basis: 430px;
}

.find-pw .modal-content {
    flex-basis: 435px
}

.modal-box .input-val {
    font-weight: 600;
    margin-left: auto;
}

.modal-box input.plan-btn:hover {
    cursor: pointer;
}

.modal-box input.plan-btn:focus {
    outline: 0;
    box-shadow: 0 0 7px 0 hsla(203, 93%, 55%, 0.25);
}

.plan-save-btn:hover {
    background-color: #6e81a1;
}

.plan-cancel-btn:hover {
    background-color: var(--light-gray-color);
}

.modal-color {
    background-color: #D9D9D9;
    color: #100C25;
}

.no-dim {
    background-color: transparent;
}

.no-dim-box {
    width: 41.876em;
    height: 36em;
    border-radius: 5px;
    box-shadow: 0 17px 24px 3px rgba(0,0,0,.14), 0 9px 20px 4px rgba(0,0,0,.12), 0 11px 15px -7px rgba(0,0,0,.2);
}

.no-dim-color {
    background-color: #fff;
    color: var(--main-txt-color)
}

.no-dim-content {
    width: inherit;
    height: inherit;

    align-items: baseline;
}

.input-wrapper, .result-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    overflow-wrap: anywhere;
}

.check-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.input-wrapper + .result-wrapper {
    margin-top: 5px
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.failure-window .btn-wrapper {
    justify-content: center;
}

.result-wrapper .result-txt {
    margin-left: auto;
}

.d-btn {
    flex-basis: 132px;
    height: 43px;
    border: 1px solid #100C25;
    background-color: transparent;

    font-size: 20px;
    font-weight: 700;
    margin-top: 32px;

    cursor: pointer;
}

.find-pw .d-btn {
    flex-basis: 168px;
}

#category .selected-value::after {
    margin-left: 18.2em;
}

.icon-face {
    margin-left: 3px
}


/* 일정 추가 페이지 */
#category .option-wrapper {
    width: 70.9%;
    height: max-content;
    margin: 0 0 0px -13.2px;
    border-top: 0;
}

#category .option-wrapper .box-padding {
    padding: 8px 13px
}